server:
  port: 8080

spring:
  application:
    name: electronics-store
  datasource:
    url: jdbc:postgresql://localhost:5432/electronics-store
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    drop-first: false
  threads:
    virtual:
      enabled: true
logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.springframework.jdbc.datasource: DEBUG

